body {
    background-color: #0a0c1b;
    padding: 0 25px;
}

.container {
    background-color: #1c1938;
    width: 100%;
    margin: 105px 0;
}

.text h1 {
    padding-top: 85px;
    margin-top: 0;
    margin-bottom: 23px;
}

.image img {
    width: 100%;
}
